In [14]:
from geopy.distance import geodesic
import requests
import pandas as pd
import numpy as np
import json

In [4]:
response = requests.get("http://api.citybik.es/v2/networks?fields=id,name,location")
networks_data = response.json()

# Find the network with the corrected name
toronto_network = next((network for network in networks_data.get('networks', []) if network.get('name') == 'Bike Share Toronto'), None)
if toronto_network:
    # Get the detailed information for the Toronto network
    toronto_network_id = toronto_network['id']
    toronto_network_response = requests.get(f"http://api.citybik.es/v2/networks/{toronto_network_id}")
    toronto_network_info = toronto_network_response.json()

    # Extract specific information for each station
    station_details = [
        {"latitude": station['latitude'], "longitude": station['longitude'], "free_bikes": station['free_bikes']}
        for station in toronto_network_info['network']['stations']
    ]

    # Now station_details contains a list of dictionaries with latitude, longitude, and number of free bikes
    station_details
else:
    print("Network not found.")

In [ ]:
FOURSQUARE

In [ ]:
Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [37]:
def get_nearby_parks(lat, lon):
    foursquare_url = "https://api.foursquare.com/v3/places/search"
    headers = {
    'authorization': 'fsq3RHqzDui5U5E9oNoCHIgxQx+JtMgelTwIYystMUvL3Fc='
    }
#     I chose 500 meters for my radius because no one parks their bike to walk a whole kilometer
    params = {
        'll': f"{lat},{lon}",
        'radius': 500,
        'categories': '16032',
    }

    response = requests.get(foursquare_url, params=params, headers=headers)
    result = response.json()
    groups = result.get('results', [])
 
    return groups

In [ ]:
Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [ ]:
results = []
for station in station_details[:50]:
    lat, lon = station['latitude'], station['longitude']
    parks = get_nearby_parks(lat, lon)

    num_of_parks = len(parks)

    park_data = {}
    park_data['latitude'] = f'{lat}'
    park_data['longitude'] = f'{lon}'
    park_data['Number of Parks found'] = num_of_parks
    park_data['Distance to Closest Park'] = None

   
    distances = []
    for park in parks:
        distances.append(park['distance'])

    if len(distances) != 0:
        minimum_distance = min(distances)
        park_data['Distance to Closest Park'] = minimum_distance


    results.append(park_data)


foursq_df = pd.DataFrame(results)

In [ ]:
Put your parsed results into a DataFrame

In [ ]:
foursq_df = pd.DataFrame(results)

In [39]:
foursq_df.head(55)

,latitude,longitude,Number of Parks found,Distance to Closest Park
0,43.665269,-79.319796,5,63
1,43.67142,-79.445947,6,61
2,43.666224,-79.317693,10,138
3,43.653236,-79.376716,9,214
4,43.663722,-79.380288,10,163
5,43.657763,-79.389165,2,307
6,43.656729,-79.382736,8,270
7,43.664467,-79.414783,6,253
8,43.675492,-79.388858,7,48
9,43.674991,-79.396273,8,164
10,43.671944,-79.387778,10,91
11,43.662365,-79.351104,5,232
12,43.646144,-79.377962,10,155
13,43.663993,-79.358534,3,266
14,43.657266,-79.374756,3,161
15,43.6672144,-79.3452697,4,155
16,43.673939,-79.441159,3,352
17,43.657991,-79.340075,6,103
18,43.66745,-79.329408,5,49
19,43.672453,-79.338259,2,410
20,43.6592088,-79.3348396,2,372
21,43.689211,-79.35438,2,98
22,43.656927,-79.378497,5,203
23,43.658295,-79.372346,4,225
24,43.6940155,-79.2889842,1,215
25,43.6809164,-79.4229684,1,394
26,43.6910667,-79.39535,1,75
27,43.6975969,-79.39654,5,85
28,43.639832,-79.395954,9,9
29,43.667333,-79.399429,9,189
30,43.6480008,-79.383177,10,95
31,43.656518,-79.389099,2,355
32,43.687999,-79.38906,2,202
33,43.6563889,-79.45166666666667,3,308
34,43.639179,-79.399595,10,208
35,43.6616667,-79.40138888888889,7,89
36,43.66666667,-79.45833333333334,2,268
37,43.657192,-79.452559,3,252
38,43.6576,-79.4032,3,184
39,43.660694,-79.379052,10,222
40,43.636533,-79.395854,10,190
41,43.659777,-79.382767,7,89
42,43.643667,-79.380414,10,54
43,43.666233,-79.373327,7,24
44,43.640114,-79.393249,10,127
45,43.653766,-79.4016759,5,33
46,43.6538888888889,-79.4413888888889,5,63
47,43.6508333333333,-79.4430555555556,9,228
48,43.651238,-79.43868,4,123
49,43.6544915,-79.422634,4,35

In [35]:
foursq_df.to_csv('foursquare_data.csv', index=False)

In [ ]:
YELP

In [ ]:
Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [ ]:
def get_nearby_parks_yelp(lat, lon):
    foursquare_url = "https://api.yelp.com/v3/businesses/search"
    headers = {
    'Authorization': 'Bearer 9zDZV7PkAMC_qe_ZlGo3smaGIs0WD_gf0h42y5k2-yoGCAmGf0f0NjsSQ0t_ArMRXB8Bmt18qeq5_cGwmq9M60WiajNdEGiUnGLuFK4f4NQCILaKxRt4Vfy6EZJaZXYx'
    }
    #     I chose 500 meters for my radius because no one parks their bike to walk a whole kilometer

    params = {
        'latitude': f"{lat}",
        'longitude': f"{lon}",
        'radius': 500,
        'categories': 'parks, All',
    }

    response = requests.get(foursquare_url, params=params, headers=headers)
    result = response.json()
    groups = result.get('businesses', [])
    return groups
get_nearby_parks_yelp('43.665269', '-79.319796')

In [ ]:
Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [ ]:
yelp_results = []
# I only picked 10 because yelp had very 
for station in station_details[:10]:
    lat, lon = station['latitude'], station['longitude']
    parks = get_nearby_parks_yelp(lat, lon)

    num_of_parks = len(parks)

    park_data = {}
    park_data['latitude'] = f'{lat}'
    park_data['longitude'] = f'{lon}'
    park_data['Number of Parks found'] = num_of_parks
    park_data['Distance to Closest Park'] = None

   
    distances = []
    for park in parks:
        distances.append(park['distance'])

    if len(distances) != 0:
        minimum_distance = min(distances)
        park_data['Distance to Closest Park'] = minimum_distance



    yelp_results.append(park_data)

In [ ]:
Put your parsed results into a DataFrame

In [ ]:
yelp_df = pd.DataFrame(yelp_results)

In [ ]:
yelp_df.to_csv('yeld_data.csv', index=False)