In [1]:
from geopy.distance import geodesic
import requests
import pandas as pd
import numpy as np
import json

In [2]:
response = requests.get("http://api.citybik.es/v2/networks?fields=id,name,location")
networks_data = response.json()

toronto_network = next((network for network in networks_data.get('networks', []) if network.get('name') == 'Bike Share Toronto'), None)
if toronto_network:
    toronto_network_id = toronto_network['id']
    toronto_network_response = requests.get(f"http://api.citybik.es/v2/networks/{toronto_network_id}")
    toronto_network_info = toronto_network_response.json()

    station_details = [
        {"latitude": station['latitude'], "longitude": station['longitude'], "free_bikes": station['free_bikes']}
        for station in toronto_network_info['network']['stations']
    ]

    station_details
else:
    print("Network not found.")

In [ ]:
FOURSQUARE

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [3]:
def get_nearby_parks(lat, lon):
    foursquare_url = "https://api.foursquare.com/v3/places/search"
    headers = {
    'authorization': 'fsq3RHqzDui5U5E9oNoCHIgxQx+JtMgelTwIYystMUvL3Fc='
    }
#     I chose 500 meters for my radius because no one parks their bike to walk a whole kilometer
    params = {
        'll': f"{lat},{lon}",
        'radius': 500,
        'categories': '16032',
    }

    response = requests.get(foursquare_url, params=params, headers=headers)
    result = response.json()
    groups = result.get('results', [])
 
    return groups

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [4]:
results = []
for station in station_details[:50]:
    lat, lon = station['latitude'], station['longitude']
    parks = get_nearby_parks(lat, lon)

    num_of_parks = len(parks)

    park_data = {}
    park_data['latitude'] = f'{lat}'
    park_data['longitude'] = f'{lon}'
    park_data['Number of Parks found'] = num_of_parks
    park_data['Distance to Closest Park'] = None

   
    distances = []
    for park in parks:
        distances.append(park['distance'])

    if len(distances) != 0:
        minimum_distance = min(distances)
        park_data['Distance to Closest Park'] = minimum_distance


    results.append(park_data)


foursq_df = pd.DataFrame(results)

Put your parsed results into a DataFrame

In [5]:
foursq_df = pd.DataFrame(results)

In [6]:
foursq_df.head(10)

    latitude   longitude  Number of Parks found  Distance to Closest Park
0  43.665269  -79.319796                      5                        63
1   43.67142  -79.445947                      6                        61
2  43.666224  -79.317693                     10                       138
3  43.653236  -79.376716                      9                       214
4  43.663722  -79.380288                     10                       163
5  43.657763  -79.389165                      2                       307
6  43.656729  -79.382736                      8                       270
7  43.664467  -79.414783                      6                       253
8  43.675492  -79.388858                      7                        48
9  43.674991  -79.396273                      8                       164

In [7]:
foursq_df.to_csv('foursquare_data.csv', index=False)

In [ ]:
YELP

In [ ]:
Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [8]:
def get_nearby_parks_yelp(lat, lon):
    foursquare_url = "https://api.yelp.com/v3/businesses/search"
    headers = {
    'Authorization': 'Bearer 9zDZV7PkAMC_qe_ZlGo3smaGIs0WD_gf0h42y5k2-yoGCAmGf0f0NjsSQ0t_ArMRXB8Bmt18qeq5_cGwmq9M60WiajNdEGiUnGLuFK4f4NQCILaKxRt4Vfy6EZJaZXYx'
    }
    #     I chose 500 meters for my radius because no one parks their bike to walk a whole kilometer

    params = {
        'latitude': f"{lat}",
        'longitude': f"{lon}",
        'radius': 500,
        'categories': 'parks, All',
    }

    response = requests.get(foursquare_url, params=params, headers=headers)
    result = response.json()
    groups = result.get('businesses', [])
    return groups
get_nearby_parks_yelp('43.665269', '-79.319796')

[{'id': '2xpzryM9Tio1SJin5l0Hmg',
  'alias': 'jonathan-ashbridge-park-toronto',
  'name': 'Jonathan Ashbridge Park',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/tytN2rEAcr3SGvFGZCkwSQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/jonathan-ashbridge-park-toronto?adjust_creative=uJFmf8D2QYnTCaJ9U1pCww&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=uJFmf8D2QYnTCaJ9U1pCww',
  'review_count': 1,
  'categories': [{'alias': 'parks', 'title': 'Parks'}],
  'rating': 2.0,
  'coordinates': {'latitude': 43.6653786, 'longitude': -79.3198166},
  'transactions': [],
  'location': {'address1': '1515 Queen Street E',
   'address2': '',
   'address3': '',
   'city': 'Toronto',
   'zip_code': 'M6R 1A5',
   'country': 'CA',
   'state': 'ON',
   'display_address': ['1515 Queen Street E',
    'Toronto, ON M6R 1A5',
    'Canada']},
  'phone': '',
  'display_phone': '',
  'distance': 73.30800846501171},
 {'id': 'BH-dRhebecIxScLPZh9-FA',
  'alias': 'ashbridge-estate-toronto',
  'name': 'Ashbridge Estate',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/bd_Tc3JPc3m3fuT_IM7y1g/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/ashbridge-estate-toronto?adjust_creative=uJFmf8D2QYnTCaJ9U1pCww&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=uJFmf8D2QYnTCaJ9U1pCww',
  'review_count': 1,
  'categories': [{'alias': 'parks', 'title': 'Parks'},
   {'alias': 'landmarks', 'title': 'Landmarks & Historical Buildings'}],
  'rating': 5.0,
  'coordinates': {'latitude': 43.66527, 'longitude': -79.32273},
  'transactions': [],
  'location': {'address1': '1444 Queen St E',
   'address2': '',
   'address3': '',
   'city': 'Toronto',
   'zip_code': 'M4L',
   'country': 'CA',
   'state': 'ON',
   'display_address': ['1444 Queen St E', 'Toronto, ON M4L', 'Canada']},
  'phone': '+14163255000',
  'display_phone': '+1 416-325-5000',
  'distance': 237.3210776705448},
 {'id': '-YiW2V4hGyAHx5k6R2610Q',
  'alias': 'ashbridges-bay-skate-park-toronto',
  'name': 'Ashbridges Bay Skate Park',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/5iUk8nQnk8TGiVuBSUxwVA/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/ashbridges-bay-skate-park-toronto?adjust_creative=uJFmf8D2QYnTCaJ9U1pCww&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=uJFmf8D2QYnTCaJ9U1pCww',
  'review_count': 2,
  'categories': [{'alias': 'skate_parks', 'title': 'Skate Parks'}],
  'rating': 3.5,
  'coordinates': {'latitude': 43.6627803414137,
   'longitude': -79.3163108825684},
  'transactions': [],
  'location': {'address1': 'Southwest Corner Coxwell & Lakeshore',
   'address2': '',
   'address3': '',
   'city': 'Toronto',
   'zip_code': 'M4L',
   'country': 'CA',
   'state': 'ON',
   'display_address': ['Southwest Corner Coxwell & Lakeshore',
    'Toronto, ON M4L',
    'Canada']},
  'phone': '',
  'display_phone': '',
  'distance': 393.91144776868924}]

In [ ]:
Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [9]:
yelp_results = []
# I only picked 10 because yelp had very low restriction so i chose to keep it to 10 to be safe
for station in station_details[:10]:
    lat, lon = station['latitude'], station['longitude']
    parks = get_nearby_parks_yelp(lat, lon)

    num_of_parks = len(parks)

    park_data = {}
    park_data['latitude'] = f'{lat}'
    park_data['longitude'] = f'{lon}'
    park_data['Number of Parks found'] = num_of_parks
    park_data['Distance to Closest Park'] = None

   
    distances = []
    for park in parks:
        distances.append(park['distance'])

    if len(distances) != 0:
        minimum_distance = min(distances)
        park_data['Distance to Closest Park'] = minimum_distance



    yelp_results.append(park_data)

Put your parsed results into a DataFrame

In [10]:
yelp_df = pd.DataFrame(yelp_results)

In [12]:
yelp_df.head(10)

    latitude   longitude  Number of Parks found  Distance to Closest Park
0  43.665269  -79.319796                      3                 73.308008
1   43.67142  -79.445947                      1                500.794541
2  43.666224  -79.317693                      5                258.478643
3  43.653236  -79.376716                      4                340.683204
4  43.663722  -79.380288                     12                198.441814
5  43.657763  -79.389165                      5                288.293606
6  43.656729  -79.382736                      6                264.774708
7  43.664467  -79.414783                      3                 50.869729
8  43.675492  -79.388858                      5                 60.405338
9  43.674991  -79.396273                      2              11936.443958

In [13]:
yelp_df.to_csv('yeld_data.csv', index=False)

Comparing Results

Which API provided you with more complete data? Provide an explanation.

For most bike stations foursquare provided more parks nearby than Yelp did, while both having the same radius of 500 meters. This is because foursquare has more data since it doesnt need people to review/take pics for the park to be uploaded unlike yelp. Which has more information about each park but has less parks.

Get the top 10 parks according to their rating

In [65]:
yelp_reviews = []
for station in station_details[:70]:
    lat, lon = station['latitude'], station['longitude']
    parks = get_nearby_parks_yelp(lat, lon)

    ratings = []
    for park in parks:
        ratings.append(park['rating'])
    
    
    
    top_rating_per_park = []
    for rating in ratings:
        top_rating_per_park.append(max(ratings))

    
    park_data = {}
    park_data['latitude'] = f'{lat}'
    park_data['longitude'] = f'{lon}'
    park_data['Park rating'] = f'{top_rating_per_park}'

   
    

    # if len(ratings) != 0:
    #     minimum_distance = min(distances)
    #     park_data['Distance to Closest Park'] = minimum_distance



    yelp_reviews.append(park_data)

In [66]:
yelp_ratings_df = pd.DataFrame(yelp_reviews)

I was able to get the top rating for parks for each bike station but my yelp tokens ran out when I was trying to exclude the empty Park rating lists to get the top 10 bike stations with he highest bike ratings, I was able to get them but there there was a few empty ones at the top.

In [52]:

yelp_ratings_df[yelp_ratings_df['Park rating'].apply(lambda x: len(x) > 0)].sort_values('Park rating', ascending=False)

      latitude    longitude Park rating
0    43.665269   -79.319796          []
44   43.640114   -79.393249          []
50  43.6543604  -79.4655296          []
49  43.6544915   -79.422634          []
48   43.651238    -79.43868          []
..         ...          ...         ...
29   43.667333   -79.399429          []
30  43.6480008   -79.383177          []
31   43.656518   -79.389099          []
32   43.687999    -79.38906          []
69   43.672571      -79.289          []

[70 rows x 3 columns]